@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  
}

body{
  background: #e8edf5;
  width: 100%;
  height: 100%;
  background: whitesmoke;
  overflow: hidden;
}

.wrapper .top_navbar{
	width: 100%;
	height: 65px;
	display: flex;
	position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(163, 0, 0);
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
	background: rgb(192, 33, 33);
	border-bottom: 1px solid #9d1111;
}

.wrapper .top_navbar .logo a{
	display: block;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  	font-size: 20px;
  	color: #fff;
  	padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: whitesmoke;
    padding: 0 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.wrapper .top_navbar .top_menu  a{
	display: block;
    background: rgb(192, 33, 33);
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: #c74343;
}

.wrapper .top_navbar .right_info{
  display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
	padding: 8px 15px;
    border-radius: 3px;
	background: rgb(192, 33, 33);
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.main_body .sidebar_menu{
	position: fixed;
  	top: 65px;
  	left: 0;
  	background: rgb(192, 33, 33);
  	width: 250px;
  	height: 100%;
  	transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
	position: relative;
	padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: #d36767;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: #c74343;
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: #9d1111;
  color: #fff;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #e8edf5;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: rgb(192, 33, 33);
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger .fa-angle-double-right{
  display: none;
}

.main_body .container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;
	transition: all 0.3s linear;
}

.main_body .container{
	display: flex;
	margin-bottom: 20px;
}

.main_body .container{
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

.main_body .container:first-child{
	margin-right: 20px;
}

/* after adding active class */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-angle-double-right{
  display: block;
}

.wrapper.active .hamburger .fa-angle-double-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .nlist{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}

/* Schedule */
.container-2{
  display: flex; 
  -webkit-box-orient: vertical; 
  -webkit-box-direction: normal; 
  -ms-flex-direction: column; 
  flex-direction: column;
}
.wrapper-2 {
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  margin-left: 400px;
  flex-direction:row;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-line-pack:center;
  align-content:center;
  }
  
  .container-2 > p {
    font-family:Satellite, Roboto, sans-serif;
    font-size:20px;
    display:flex;
    -webkit-box-pack:center;
    -ms-flex-pack:center;
    justify-content:center;
    -ms-flex-line-pack:center;
    align-content:center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    text-align:justify;
    margin:20px 40px;
    }
  
  .calendar {
    margin-top: 100px;
  width:800px;
  height:800px;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  font-family:Satellite, Roboto, sans-serif;
  border:1px solid rgba(21,21,21,0.12);
  -webkit-transform:scale(1);
  transform:scale(1);
  box-shadow:0 0 4px rgba(21,21,21,0.21);
  -ms-user-select:none;
  user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -o-user-select:none;
  }
  
  .year {
  width:calc(100%-10px);
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-size:14px;
  padding:5px;
  }
  
  .month {
  width:calc(100%-10px);
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-size:40px;
  box-shadow:0 2px 6px rgba(21,21,21,0.21);
  padding:20px 5px;
  }
  
  .labels {
  width:100%;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  }
  
  .labels > span {
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  font-size:12px;
  text-transform:uppercase;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  padding:10px;
  }
  
  .days {
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  box-shadow:0 2px 6px -2px rgba(21,21,21,0.21);
  }
  
  .row {
  width:100%;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:flex;
  padding-left: 30px;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  }
  
  .day {
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  border-bottom:1px solid rgba(21,21,21,.12);
  border-right:1px solid rgba(21,21,21,.12);
  cursor:pointer;
  -webkit-transition:box-shadow 200ms ease-in-out;
  transition:box-shadow 200ms ease-in-out;
  padding:5px;
  }
  
  .day:last-child {
  border-right:none;
  }
  
  .day-radios {
  display:none;
  }
  
  .day > span {
  width:auto;
  font-size:14px;
  color:rgba(21,21,21,0.84);
  }
  
  .day.diluted {
  background-color:rgba(21,21,21,0.021);
  box-shadow:inset 0 0 1px rgba(21,21,21,0.12);
  }
  
  .day.diluted > span {
  width:auto;
  font-size:10px;
  color:rgba(21,21,21,0.73);
  }
  
  .events {
  width:800px;
  height:800px;
  font-family:Satellite, Roboto, sans-serif;
  box-shadow:0 0 4px rgba(21,21,21,0.21);
  border:1px solid rgba(21,21,21,0.12);
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  -ms-user-select:none;
  user-select:none;
  -moz-user-select:none;
  -khtml-user-select:none;
  -webkit-user-select:none;
  -o-user-select:none;
  }
  
  .date {
  width:calc(100%-10px);
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  background-color:' + this.calendar.colors[1] + ';
  color:' + this.calendar.colors[3] + ';
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  font-size:14px;
  padding:5px;
  }
  
  .rows {
  width:100%;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  overflow:hidden!important;
  }
  
  .list {
    
  width:100%;
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  overflow-y:auto!important;
  color:rgba(21,21,21,0.94);
  margin:0;
  padding:0;
  }
  
  .list > li {
  width:100%;
  display:flex;
  -webkit-box-orient:horizontal;
  -webkit-box-direction:normal;
  -ms-flex-direction:row;
  flex-direction:row;
  border-bottom:1px solid rgba(21,21,21,0.12);
  }
  
  .list > li:hover {
  box-shadow:inset 0 0 4px rgba(21,21,21,0.21);
  }
  
  .list > li > div {
  display:flex;
  -webkit-box-flex:2;
  -ms-flex:2;
  flex:2;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  border-right:1px solid rgba(21,21,21,0.12);
  padding:10px;
  }
  
  .time {
  font-size:14px;
  }
  
  .m {
  font-size:14px;
  text-transform:uppercase;
  padding-left:5px;
  }
  
  .list > li > p {
  -webkit-box-flex:4;
  -ms-flex:4;
  flex:4;
  display:flex;
  -webkit-box-pack:start;
  -ms-flex-pack:start;
  justify-content:flex-start;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  font-size:18px;
  word-wrap:break-word;
  word-break:break-word;
  margin:10px;
  }
  
  .calendar.small,.events.small {
    margin-top: 100px;
  width:400px;
  height:400px;
  }
  
  .calendar.medium,.events.medium {
  width:600px;
  height:600px;
  }
  
  .calendar.large,.events.large {
  width:800px;
  height:800px;
  }
  
  .year > span,.month > span,.date > span {
  -webkit-box-flex:1;
  -ms-flex:1;
  flex:1;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -ms-flex-line-pack:center;
  align-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  text-transform:uppercase;
  }
  
  .year > div,.month > div,.date > div {
  cursor:pointer;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
  justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  -ms-flex-line-pack:center;
  align-content:center;
  }
  
  .day:hover,.day-radios:checked + .day {
  background-color:rgba(21,21,21,0.012);
  box-shadow:inset 0 0 4px rgba(21,21,21,0.21);
  }

.schedule-container{
  display: flex;
  
  padding: 30px;
  width: 100%;
  height: 600px;
  align-items: top;
  
}
.dcontainer{
  min-width: 100px;
  width: 210px;
  height: 270px;
  background-color: rgb(253, 253, 253);
  border: 1px solid rgba(27, 0, 0, 0.658);
  border-radius: 10px;
  margin: 1px;

}

.dcontainer p{
  color:whitesmoke
}

.day-area{
  width: 100%;
  height: 30px;
  text-align: center;
  font-size: 20px;
  border-bottom: 1px solid rgba(27, 0, 0, 0.658);
  background-color: rgb(192, 33, 33);
  border-top-left-radius: 8px;
border-top-right-radius: 8px;

}
/*Logout btn style*/
.btn-logout{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(192, 33, 33);
}
/* Logout button hover style */
.btn-logout:hover{
  color: #fff;
  background-color: rgb(211, 37, 37);
}
.test{
	width:25%;
    height:300px;
	background: #C0C0C0;
	padding: 2em;
	box-shadow: 10px 10px;
}

/*error-login-style*/
.error{
  font-size: 20px;
  color: #9d1111;
  text-align: center;
}
/* User Page */
/*
.row-1{
	width:15%;
    height:250px;
	background: rgb(192, 33, 33);
	padding: 2em;
	
	
	cursor: pointer;
    background-image: none;
}

.lastrow-1{
	width:15%;
    height:250px;
	background: rgb(192, 33, 33);
	padding: 2em;
	
	
	cursor: pointer;
    background-image: none;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.row-1 h2, .firstrow h2, .lastrow-1 h2{
	color: white;
}

.button-container{
	width:8%;
	margin-left: 250px;
	background: White;
}

.btn{
	width: 100px;
	height: 60px;
	padding: 10px 20px;
	font-size: 18px;
	margin: 10px;
	
	display: inline-block;
	font-weight: 400;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border-radius: 10px;
    color: whitesmoke;
    background-color: rgb(192, 33, 33);
}
.btn:hover{
  color: #fff;
  background-color: rgb(211, 37, 37);
}
*/


/* Login-page-Container */
.container{
  width:100%;
  
  margin-top: 200px;
}

/* Login */
#div_login{
  border: 1px solid gray;
  border-radius: 3px;
  width: 470px;
  height: 270px;
  box-shadow: 0px 2px 2px 0px  gray;
  margin: 0 auto;
  
}

#div_login h1{
  margin-top: 0px;
  font-weight: normal;
  padding: 10px;
  background-color: rgb(192, 33, 33);
  color: white;
  font-family: sans-serif;
}

#div_login div{
  clear: both;
  margin-top: 10px;
  padding: 5px;
  
}

#div_login .textbox{
  width: 96%;
  padding: 7px;
}

#div_login input[type=submit]{
  margin-left: 170px;
  border-radius: 10px;
  padding: 7px;
  width: 100px;
  background-color: rgb(150, 26, 26);
  border: 0px;
  color: white;
  cursor: pointer;
}

#div_login input[type=submit]:hover{
  background-color: rgb(192, 33, 33);
}


@media only screen and (max-width: 1024px){
.hamburger{
  display: none;
}

.wrapper .sidebar_menu{
  width: 100px;
}

.wrapper .hamburger .fa-angle-double-right{
  display: block;
}

.wrapper .hamburger .fa-angle-double-left{
  display: none;
}

.wrapper .sidebar_menu ul li a .nlist{
  display: none;
}

.wrapper .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}


/*Login Media*/
.container{
  width: 100%;
}
#div_login{
  width: 400px;
  
}
#div_login input[type=submit]{
  margin-left: 130px;
}
/*SCHEDULE*/
.wrapper-2{
  flex-direction: column;
  margin-left: 120px;
}
}