@import url('https://fonts.googleapis.com/css?family=Montserrat+Subrayada|Ubuntu:400,500,700&display=swap');

*{
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'Ubuntu', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
  
}

body{
  background: #e8edf5;
  width: 100%;
  height: 100%;
  background: whitesmoke;
}

.wrapper .top_navbar{
	width: 100%;
	height: 65px;
	display: flex;
	position: fixed;
  top: 0;
  border-bottom: 1px solid rgb(163, 0, 0);
}

.wrapper .top_navbar .logo{
	width: 250px;
	height: 100%;
	background: rgb(192, 33, 33);
	border-bottom: 1px solid #9d1111;
}

.wrapper .top_navbar .logo a{
	display: block;
    text-align: center;
    font-family: 'Montserrat Subrayada', sans-serif;
  	font-size: 20px;
  	color: #fff;
  	padding: 20px 0;
}

.wrapper .top_navbar .top_menu{
	width: calc(100% - 250px);
	height: 100%;
	background: whitesmoke;
    padding: 0 40px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.wrapper .top_navbar .top_menu  a{
	display: block;
    background: rgb(192, 33, 33);
    color: #fff;
    padding: 8px 15px;
    border-radius: 3px;
}

.wrapper .top_navbar .top_menu a:hover,
.wrapper .top_navbar .right_info .icon_wrap:hover {
    background: #c74343;
}

.wrapper .top_navbar .right_info{
  display: flex;
}

.wrapper .top_navbar .right_info .icon_wrap{
	padding: 8px 15px;
    border-radius: 3px;
	background: rgb(192, 33, 33);
    color: #fff;
    margin: 0 5px;
    cursor: pointer;
}

.main_body .sidebar_menu{
	position: fixed;
  	top: 65px;
  	left: 0;
  	background: rgb(192, 33, 33);
  	width: 250px;
  	height: 100%;
  	transition: all 0.3s linear;
}

.main_body .sidebar_menu .inner__sidebar_menu{
	position: relative;
	padding-top: 60px;
}

.main_body .sidebar_menu ul li a{
  color: #d36767;
  font-size: 18px;
  padding: 20px 35px;
  display: block;
  white-space: nowrap;
}

.main_body .sidebar_menu ul li a .icon{
  margin-right: 8px;
}

.main_body .sidebar_menu ul li a span{
  display: inline-block;
}

.main_body .sidebar_menu ul li a:hover{
  background: #c74343;
  color: #fff;
}

.main_body .sidebar_menu ul li a.active{
  background: #9d1111;
  color: #fff;
}

.main_body .sidebar_menu .hamburger{
  position: absolute;
  top: 5px;
  right: -25px;
  width: 50px;
  height: 50px;
  background: #e8edf5;
  border-radius: 50%;
  cursor: pointer;
}

.main_body .sidebar_menu .inner_hamburger,
.main_body .sidebar_menu .hamburger .arrow{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.main_body .sidebar_menu .inner_hamburger{
  width: 40px;
  border-radius: 50%;
  height: 40px;
  background: rgb(192, 33, 33);
}

.main_body .sidebar_menu .hamburger .arrow{
  color: #fff;
  font-size: 20px;
}

.main_body .sidebar_menu .hamburger .fa-angle-double-right{
  display: none;
}

.main_body .container{
	width: calc(100% - 250px);
	margin-top: 65px;
	margin-left: 250px;
	padding: 25px 40px;
	transition: all 0.3s linear;
}

.main_body .container{
	display: flex;
	margin-bottom: 20px;
}

.main_body .container{
	background: #fff;
	border: 1px solid #e0e0e0;
	padding: 25px;
	font-size: 14px;
	line-height: 22px;
}

.main_body .container:first-child{
	margin-right: 20px;
}

/* after adding active class */
.wrapper.active .sidebar_menu{
  width: 100px;
}

.wrapper.active .hamburger .fa-angle-double-right{
  display: block;
}

.wrapper.active .hamburger .fa-angle-double-left{
  display: none;
}

.wrapper.active .sidebar_menu ul li a .list{
  display: none;
}

.wrapper.active .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}
/*Logout btn style*/
.btn-logout{
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border-radius: 10px;
  color: whitesmoke;
  background-color: rgb(192, 33, 33);
}
/* Logout button hover style */
.btn-logout:hover{
  color: #fff;
  background-color: rgb(211, 37, 37);
}
.test{
	width:25%;
    height:300px;
	background: #C0C0C0;
	padding: 2em;
	box-shadow: 10px 10px;
}

/* User Page */

.row{
	width:15%;
    height:300px;
	background: #FF6347;
	padding: 2em;
	box-shadow: 10px 10px;
}

.row h2{
	color: white;
}

.button-container{
	width:8%;
	margin-left: 250px;
	background: White;
}

.btn{
	width: 100px;
	height: 60px;
	border: 1px solid #FF0000;
	background: #FF4500;
	padding: 10px 20px;
	font-size: 20px;
	font-family: "montserrat";
	cursor: pointer;
	margin: 10px;
}

/* Login-page-Container */
.container{
  width:100%;
  
  margin-top: 200px;
}

/* Login */
#div_login{
  border: 1px solid gray;
  border-radius: 3px;
  width: 470px;
  height: 270px;
  box-shadow: 0px 2px 2px 0px  gray;
  margin: 0 auto;
  
}

#div_login h1{
  margin-top: 0px;
  font-weight: normal;
  padding: 10px;
  background-color: rgb(192, 33, 33);
  color: white;
  font-family: sans-serif;
}

#div_login div{
  clear: both;
  margin-top: 10px;
  padding: 5px;
  
}

#div_login .textbox{
  width: 96%;
  padding: 7px;
}

#div_login input[type=submit]{
  margin-left: 170px;
  border-radius: 10px;
  padding: 7px;
  width: 100px;
  background-color: rgb(150, 26, 26);
  border: 0px;
  color: white;
  cursor: pointer;
}

#div_login input[type=submit]:hover{
  background-color: rgb(192, 33, 33);
}

@media only screen and (max-width: 720px){
.hamburger{
  display: none;
}

.wrapper .sidebar_menu{
  width: 100px;
}

.wrapper .hamburger .fa-angle-double-right{
  display: block;
}

.wrapper .hamburger .fa-angle-double-left{
  display: none;
}

.wrapper .sidebar_menu ul li a .list{
  display: none;
}

.wrapper .main_body .container{
  width: calc(100% - 100px);
  margin-left: 100px;
}


/*Login Media*/
.container{
  width: 100%;
}
#div_login{
  width: 400px;
  
}
#div_login input[type=submit]{
  margin-left: 130px;
}
}